.navbar,
.navbar-nav,
.nav-link {
    background-color: #3c3d41 !important;
}

.navbar {
    border-bottom: 1px solid #707070 !important;
}

.nav-link:hover {
    color: #FF8F00 !important;
}

.nav-item {
    width: 100px !important;
    padding-right: 10px;
    /* padding-top: 15px; */
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    color: rgb(196, 184, 82) !important;
}

.nav-item a:hover{
  color: #FFFFFF;
}

.nav-item a.dropdown-item{
  font-size: 14px;
  font-weight: bold;
  color: rgba(138, 37, 19, 0.815);
}
.nav-item a.dropdown-item:hover{
  color:#FFFFFF;
  background-color: #707070;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 20px;
}



.nav-log {
    border: 2px solid #FF8F00;
    font-family: Helvetica;
    font-weight: bold;
    border-radius: 100px;
    background-color: #3c3d41!important;
    color: #FF8F00 !important;
    font-size: 12px;
}

.nav-log:hover {
    background-color: #FF8F00 !important;
    color: #FFFFFF !important;
}

.nav-lang {
    margin-right: 20px;
    font-family: Helvetica;
}

.nav-profile {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 15x;
    padding-right: 10px;
}

.nav-profile a {
    color: #FF8F00
}

.nav-profile a:hover {
  color: rgb(255, 187, 0)
}

@media screen and (max-width:766px) {
    .navbar-right li {
        padding-bottom: 15px;
        padding-left: 10px;
    }
}
